<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  props: {
    data: {
      type: Object,
      default: null,
      required: false,
    },
  },
  data() {
    return {
      isMobile: false,
    };
  },
  mounted() {
    this.onResize();
    window.addEventListener('resize', this.onResize);
  },
  destroyed() {
    window.removeEventListener('resize', this.onResize);
  },
  methods: {
    onResize() {
      this.isMobile = window.innerWidth < 1024;
    },
  },
});
</script>

<template>
  <SlpContainer class="teamops">
    <SlpRow>
      <SlpColumn class="teamops__info" :cols="5">
        <nuxt-img
          class="teamops__logo"
          :src="data.header_img"
          alt="teamops logo"
          loading="lazy"
        />
        <SlpTypography tag="h3" variant="heading3-bold" class="teamops__title">
          {{ data.title }}
        </SlpTypography>
        <SlpTypography tag="p" variant="body1">
          {{ data.description }}
        </SlpTypography>
        <SlpButton
          variant="secondary"
          class="teamops__button"
          :data-ga-name="data.button.data_ga_name"
          :data-ga-location="data.button.data_ga_location"
          :href="data.button.link"
          >{{ data.button.text }}
        </SlpButton>
        <SlpButton
          variant="tertiary"
          class="teamops__link"
          :data-ga-name="data.link.data_ga_name"
          :data-ga-location="data.link.data_ga_location"
          :href="data.link.link"
          >{{ data.link.text }}
          <SlpIcon
            class="slp-ml-8"
            name="chevron-lg-right"
            variant="product"
            hex-color="#FFFFFF"
          />
        </SlpButton>
      </SlpColumn>
      <SlpColumn :cols="7" class="teamops__image-container">
        <nuxt-img
          v-if="isMobile"
          class="teamops__image-mobile"
          :src="data.mobile_img"
          alt="teamops logo"
          loading="lazy"
        />
        <nuxt-img
          v-else
          class="teamops__image"
          :src="data.image"
          :alt="data.image_alt"
          loading="lazy"
        />
      </SlpColumn>
    </SlpRow>
  </SlpContainer>
</template>

<style scoped lang="scss">
.teamops {
  margin-top: $spacing-96;
  margin-bottom: $spacing-96;
  color: $color-text-50;
  border: 1px solid $color-primary-100;
  border-radius: 0px 0px 100px 0px;

  &__title {
    width: 300px;
    margin: $spacing-24 0;
  }

  &__info {
    background: #6d33cc;
    padding: $spacing-32;
  }

  &__image-container {
    position: relative;
  }

  &__image {
    position: absolute;
    right: -1px;
    height: 100%;
  }

  &__button {
    margin: $spacing-32 0 $spacing-16 0;
  }

  &__link {
    color: $color-text-50;

    &:hover {
      text-decoration-color: $color-text-50;
    }
  }

  @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) {
    .teamops__image-mobile {
      margin-top: 25%;
    }
  }

  @media (max-width: $breakpoint-md) {
    border: none;
    &__image-container {
      width: 100%;
    }

    .teamops__image-mobile {
      width: 100%;
      border: 1px solid $color-primary-100;
      border-radius: 0 0 100px 0;
      border-top: none;
      padding: $spacing-32;
    }
  }
}
</style>
