<script lang="ts">
import Vue from 'vue';

import ComparisonPane from './comparison-pane.vue';
import TabsOverview from './tab-overview.vue';

export default Vue.extend({
  name: 'ComparisonSideBySide',
  components: {
    ComparisonPane,
    TabsOverview,
  },
  props: {
    comparisonData: {
      type: Object,
      required: true,
      default: null,
    },
    styleForTabs: {
      type: Boolean,
      required: false,
      default: false,
    },
    overviewData: {
      type: Object,
      required: false,
      default: null,
    },
  },
  data() {
    return {
      currentTab: 0,
      currentCompany: 0,
      baseHarveyUrl: '/nuxt-images/competition/progress-bars/',
    };
  },
  watch: {
    comparisonData() {
      this.currentTab = 0;
    },
  },
  methods: {
    changeTab(tabIndex): void {
      this.$refs.analysis.scrollIntoView();
      this.currentTab = tabIndex;
    },
    updateDropdown(title): void {
      this.$refs.analysis.scrollIntoView();
      const newIndex = this.comparisonData.tabs.findIndex(
        (tab) => tab.title === title,
      );
      this.currentTab = newIndex;
    },
    changeCompany(company): void {
      this.currentCompany = company;
    },
    getDropdownData() {
      return this.comparisonData.tabs.map((tab) => {
        return tab.title;
      });
    },
    getTabData() {
      return this.comparisonData.tabs[this.currentTab];
    },
  },
});
</script>

<template>
  <div class="analysis-wrapper">
    <div ref="analysis" class="slp-mt-48 analysis">
      <div
        class="analysis-navigation"
        :class="{ 'disable-borders': styleForTabs }"
      >
        <div v-if="!styleForTabs" class="analysis-navigation__title">
          <SlpIcon
            class="slp-mb-8"
            :size="comparisonData.icon.size"
            :name="comparisonData.icon.name"
            :alt="comparisonData.icon.alt"
            :variant="comparisonData.icon.variant"
          />
          <SlpTypography class="desktop-text" variant="heading5-bold">
            {{ comparisonData.stage }}
          </SlpTypography>
          <SlpTypography class="mobile-text" variant="body1-bold">
            {{ comparisonData.stage }}
          </SlpTypography>
        </div>
        <SlpTypography
          variant="body2-bold slp-pt-32 slp-pb-16 analysis-navigation__mobile-header"
          tag="div"
        >
          Categories
        </SlpTypography>
        <SlpDropdown
          :value="comparisonData.tabs[currentTab].title"
          class="analysis-navigation__dropdown"
          name="mobileMenu"
          :options="getDropdownData()"
          @input="updateDropdown"
        />
        <nav class="analysis-tabs__container">
          <ul class="analysis-tabs">
            <li v-for="(tab, tabIndex) in comparisonData.tabs" :key="tab.title">
              <SlpButton
                variant="ghost"
                class="analysis-tab"
                :class="{ active: tabIndex === currentTab, tabs: styleForTabs }"
                @click.native="changeTab(tabIndex)"
              >
                <SlpTypography variant="body2-bold">
                  {{ tab.title }}
                </SlpTypography>
              </SlpButton>
            </li>
          </ul>
        </nav>
        <nav class="company-tabs__container">
          <ul class="company-tabs">
            <li>
              <SlpButton
                variant="ghost"
                class="company-tab"
                :class="{ active: currentCompany === 0 }"
                @click.native="changeCompany(0)"
              >
                <SlpTypography variant="body1-bold">
                  {{ comparisonData.tabs[0].panes[0].title }}
                </SlpTypography>
                <nuxt-img
                  v-if="getTabData().panes[0].harvey !== undefined"
                  class="slp-mt-8"
                  :src="`${baseHarveyUrl}${getTabData().panes[0].harvey}.svg`"
                />
              </SlpButton>
            </li>
            <li>
              <SlpButton
                variant="ghost"
                class="company-tab"
                :class="{ active: currentCompany === 1 }"
                @click.native="changeCompany(1)"
              >
                <SlpTypography variant="body1-bold">
                  {{ comparisonData.tabs[0].panes[1].title }}
                </SlpTypography>
                <nuxt-img
                  v-if="getTabData().panes[1].harvey !== undefined"
                  class="slp-mt-8"
                  :src="`${baseHarveyUrl}${getTabData().panes[1].harvey}.svg`"
                />
              </SlpButton>
            </li>
          </ul>
        </nav>
      </div>
      <div class="analysis-comparison">
        <ComparisonPane
          class="analysis-gitlab"
          :comparison-data="getTabData().panes[0]"
        />
        <ComparisonPane
          class="analysis-competitor"
          :class="{ 'disable-borders': styleForTabs }"
          :comparison-data="getTabData().panes[1]"
        />
        <ComparisonPane
          class="analysis-mobile"
          :comparison-data="getTabData().panes[currentCompany]"
        />
      </div>
    </div>
    <div v-if="overviewData" class="analysis__overview">
      <TabsOverview :data="overviewData" />
    </div>
  </div>
</template>

<style scoped lang="scss">
$nav-width: 168px;
$nav-overflow: $spacing-16;

.desktop-text {
  display: initial;
  @media (max-width: $breakpoint-md) {
    display: none;
  }
}

.mobile-text {
  display: none;

  @media (max-width: $breakpoint-md) {
    display: initial;
  }
}

.company-tabs__container {
  display: none;

  @media (max-width: $breakpoint-md) {
    display: block;
  }
}

.analysis-tabs__container {
  @media (max-width: $breakpoint-md) {
    display: none;
  }
}

.company-tabs {
  display: flex;

  .company-tab {
    display: flex;
    flex-direction: column;
    transition: none;
    padding: 12px 16px;
    border-radius: 4px 4px 0px 0px;

    img {
      width: 90px;
    }
  }

  .active {
    background-color: $color-surface-50;
    box-shadow: 0px 8px 50px #d1d0d3;
    z-index: 1001;
    clip-path: inset(-150px 0px 0px -50px);
  }
}

.analysis {
  display: grid;
  grid-template-columns: $nav-width 1fr;

  @media (max-width: $breakpoint-md) {
    display: block;
  }

  &-wrapper {
    position: relative;
    border-radius: 8px;

    @media (min-width: $breakpoint-md) {
      padding-bottom: 0;
    }
    &:before {
      content: '';
      display: block;
      width: calc(100% - 16px);
      height: 100%;
      position: absolute;
      top: 0;
      background: $color-surface-50;
      left: 16px;

      border-radius: 8px;
      @media (min-width: $breakpoint-md) {
        box-shadow: 0px 8px 50px #d1d0d3;
      }
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      background: $color-surface-800;
      width: 200%;
      left: -50%;
      height: 100%;
      top: 0;
      @media (min-width: $breakpoint-md) {
        display: none;
      }
    }
    div {
      position: relative;
      z-index: 1;
    }
  }
  &-comparison {
    display: grid;
    grid-template-columns: 1fr 1fr;
    z-index: 1000;

    @media (max-width: $breakpoint-md) {
      display: block;
      box-shadow: none;
    }
  }

  &-navigation {
    background-color: $color-surface-800;
    margin-left: $nav-overflow;
    border-radius: 8px 0px 0px 0px;
    position: relative;
    &.disable-borders {
      margin-left: 0;
      border-radius: 0;
    }

    @media (max-width: $breakpoint-md) {
      margin-left: 0px;
    }

    &__title {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: $spacing-16 0;
      max-width: max-content;
      @media (min-width: $breakpoint-md) {
        padding: $spacing-32 $spacing-24 $spacing-16 $spacing-24;
        margin: 0 auto;
        padding: $spacing-32 0 0 0;
      }
      @media (max-width: $breakpoint-md) {
        .slp-icon {
          margin-right: $spacing-8;
          height: 24px;
          width: 24px;
        }
      }
      &:after {
        display: block;
        content: '';
        width: calc(100% + 16px);
        height: 100%;
        position: absolute;
        background: $color-surface-800;
        left: 0;
        top: 0;
        border-top-right-radius: 4px;
        @media (min-width: 640px) {
          width: calc(100% + 16px + 2.5vw);
        }
        @media (min-width: $breakpoint-md) {
          display: none;
        }
      }
      &:before {
        content: '';
        display: block;
        width: 100vw;
        height: 100%;
        position: absolute;
        top: 0;
        background: $color-surface-50;
        left: 0;
        @media (min-width: $breakpoint-sm) {
          left: 0;
        }
        @media (min-width: $breakpoint-md) {
          display: none;
        }
      }
      div,
      span {
        position: relative;
        z-index: 1;
        @media (max-width: $breakpoint-md) {
          line-height: 1;
        }
      }
    }

    &__dropdown {
      display: none;
      margin: 0px auto $spacing-32 auto;
      background-color: $color-surface-50;

      @media (max-width: $breakpoint-md) {
        display: block;
      }
    }

    &__mobile-header {
      display: block;
      @media (min-width: $breakpoint-md) {
        display: none;
      }
    }
  }

  &-tabs {
    li {
      margin-top: $spacing-16;
    }

    .active {
      background-color: $color-surface-50;
      width: $nav-width;
      margin-left: -$nav-overflow;
      padding-left: 32px;
      position: relative;
      z-index: 1001;
      &.tabs {
        width: calc($nav-width + $nav-overflow);
      }
      &:before {
        content: '';
        display: block;
        position: absolute;
        width: 16px;
        height: 100%;
        left: 0;
        background: $color-surface-50;
        box-shadow: 0px 8px 50px #d1d0d3;
        z-index: 1001;
        clip-path: inset(-150px 0px -50px -50px);
        border-radius: 4px 0px 0px 4px;
      }
    }
  }

  &-tab {
    width: 100%;
    text-align: left;
    padding: 14px $spacing-32 14px $spacing-16;
    border-radius: 4px 0px 0px 4px;
    transition: none;
    border-right: none;
    &:hover {
      text-decoration: underline;
    }
  }

  &-gitlab {
    background-color: $color-surface-50;
    @media (max-width: $breakpoint-md) {
      display: none;
    }
  }

  &-competitor {
    background-color: $color-surface-100;
    border-radius: 0px 8px 0px 0px;
    &.disable-borders {
      border-radius: 0;
    }
    @media (max-width: $breakpoint-md) {
      display: none;
    }
  }

  &-mobile {
    display: none;
    background: $color-surface-50;
    border-top-right-radius: 8px;

    @media (max-width: $breakpoint-md) {
      display: block;
    }
  }

  &__overview {
    grid-template-columns: 1fr 1fr;
    display: block;
    position: relative;
    z-index: 1111;
    border-top: 1px solid $color-surface-200;
    border-radius: 0 0 8px 8px;
    padding-bottom: 1px;
    margin-bottom: $spacing-48;
    @media (min-width: $breakpoint-md) {
      margin-left: $spacing-16;
      margin-bottom: $spacing-64;
    }
  }
}
</style>
